html {
    text-align: center;
    background: rgb(230, 227, 227);
}

h1 {
    font-family: Arial;
    margin-top:40vh;
}

input{
    font-size: large;
    padding:5px 10px;
    border-radius:4px 0px 0px 4px;
    width:30em;
    text-align: left;
    border:2px solid white;
    background: white;
}

input:focus {
    border:2px solid rgba(89, 0, 255, 0.856);
}

button {
    font-size: large;
    padding:5px 10px;
    border-radius:0px 4px 4px 0px;
    border:2px solid rgba(89, 0, 255, 0.856);
    background: rgba(89, 0, 255, 0.856);
    color:white;
}

button:active {
    background: rgb(99, 2, 2);
}
